body {
  font-family: 'Quattrocento Sans', sans-serif;
  background: #4c88ef;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4c88ef), color-stop(100%, #17e4d9));
  background: -webkit-linear-gradient(-45deg, #4c88ef 0%, #17e4d9 100%);
  background: -webkit-linear-gradient(315deg, #4c88ef 0%, #17e4d9 100%);
  background: linear-gradient(135deg, #4c88ef 0%, #17e4d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c88ef', endColorstr='#17e4d9', GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2 {
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  display: inline;
}

h2 {
  background: #dfa941;
}

h1 {
  background: #7F2D2C;
}

section {
  margin: 30px 0;
}

#milestones {
  padding: 20px;
}

.loading {
  text-align: center;
}


.logo {
  width: 25%;
  position: fixed;
  top: -20px;
  right: -20px;
  z-index: -9999;
}

ul {
  color: white;
}

a, a:hover {
  color: white;
}

.btn {
  margin: 5px;
  background-color: white;
}

pre {
  margin-top: 20px;
}

#expand {
  position: absolute;
  right: 0;
  top: 10px;
}

.collapsed {
  height: 180px;
}

#loader {
  padding: 50px;
  text-align: center;
}

#releasedata {
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

#gradient {
  position: absolute;
  top: 180px;
  height: 50px;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#notes h1, #notes h2, #notes ul {
  background: none;
  color: black;
  font-family: monospace;
}

#notes h2 {
  font-size: 1.5em;
}

#notes a, #notes a:hover {
  color: #7F2D2C;
}

.current {
  border: 5px solid black;
}

.beta::after {
  content: ' beta';
}

.nightly::after {
  content: ' nightly ';
}

.stable::after {
  content: ' stable ';
}
